<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="" method="post">
    <label>First Name</label>
    <input type="text" name="one" id="first_name" placeholder="Kevin"><br><br>
    <label>Last Name</label>
    <input type="text" name="two" id="last_name" placeholder="Nguyen"><br><br>
    <label>Username</label>
    <input type="email" name="three" id="username" placeholder="kevinnguyen@gmail.com"><br><br>
    <label>Password</label>
    <input type="password" name="four" id="password" placeholder="**********"><br><br>
    <input type="submit" value="Create User">
</form>
</body>
</html>